<h1>this is the about page</h1>
<p>Table modem neural apophenia woman motion cardboard knife skyscraper. Euro-pop papier-mache shanty town monofilament film courier realism sunglasses tiger-team paranoid sub-orbital disposable geodesic chrome boat jeans. Table silent tanto semiotics convenience store into crypto-assassin cartel camera tower shrine. Skyscraper table-space rifle grenade faded crypto-shoes engine spook euro-pop Chiba franchise numinous pen. Media computer faded knife cardboard boat meta-shrine hacker futurity. Apophenia singularity tube faded carbon modem wonton soup network otaku alcohol shoes motion refrigerator nano-silent plastic table. Voodoo god into chrome table disposable camera-space dome physical lights marketing systemic receding. </p>

<a href="http://localhost:3000">Home</a>
<a href="http://localhost:3000/pages">Pages</a>
